.App {
   text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: white;
     height: 40vmin;


}

.btn{
  width: auto;
  height: 100px;
  background-color: tomato;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}







